<!DOCTYPE HTML>
<html>
  <head>
    <script type="application/javascript" src="./vue.js"></script>
    <script type="application/javascript" src="./vanilla.js"></script>
    <link rel="stylesheet" href="./styles.css" type="text/css" />
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <td><choices-list v-bind:choices="choices"></choices-list></td>
          <td>
            <choice-info  v-bind:choice="choice[0]"
                          v-bind:options="choice[1]"
                          v-bind:decision="choice[2]"></choice-info>
          </td>
        </tr>
      </table>
    </div>
    <div id="choices-list">
      <h2>Choices</h2>
      <ul>
        <li v-for="choice in choices">
          <choice-item v-bind:choice="choice"></choice-item>
        </li>
      </ul>
    </div>
    <div id="choice-item">
      <div v-on:click="clickChoice"> {{choice.choiceId}}: <strong>{{choice.choiceName}}</strong> </div>
    </div>
    <div id="choice-info">
      <h2>{{choice.choiceName}}</h2>
      <h3>Options</h3>
      <ul>
        <li v-for="option in options">{{option.optionName}}</li>
      </ul>
      <h3>Decision</h3>
      <p>{{decision.decision.optionName}}</p>
    </div>
    <script>
      initialChoices = 
        [{"choiceId":3,"choiceName":"Should I get a icecream?"},{"choiceId":2,"choiceName":"Should I get a icecream?"},{"choiceId":1,"choiceName":"Should I get a icecream?"},{"choiceId":0,"choiceName":"What size thing should I eat?"}];

      initialChoice = 
        [{"choiceId":0,"choiceName":"What size thing should I eat?"}
        ,[{"optionChoiceId":0,"optionId":1,"optionName":"Something bigger than my own head"},{"optionChoiceId":0,"optionId":2,"optionName":"Something reasonable"}]
        ,{"decisionChoiceId":0,"decisionId":1,"decision":{"optionChoiceId":0,"optionId":2,"optionName":"Something reasonable"}}];

      function ge(name) {
        return document.getElementById(name);
      }
      function comp(name,props) {
        var domE = ge(name);
        props.template = domE.outerHTML;
        Vue.component(name, props);
        domE.style.display='none';
      }
      function testing() {
        getChoicesByChoiceId(this.choice.choiceId, function(x){
          console.log("choice fetched");
          console.log(x);
          app.choice = x;
        }, function(e){
          console.log("Choice error")
          console.log(e)
        })
      }
      comp('choices-list', { props:['choices'] });
      comp('choice-item',  { props:['choice'], methods: { clickChoice: testing } });
      comp('choice-info',  { props:['choice', 'options', 'decision'] });

      var app = new Vue({
        el: '#app',
        data: { choices: initialChoices, choice: initialChoice }
      })

      getChoices(function(cs){
        console.log("Fetched Choices")
        console.log(cs);
        app.choices = cs;
      })

    </script>
  </body>
</html>
