<!DOCTYPE HTML>
<html>
  <head>
    <script type="application/javascript" src="/jquery-2.1.4.js"></script>
    <script type="application/javascript" src="/js.cookie.js"></script>
    <script type="application/javascript" src="/assets/vue.js"></script>
    <script type="application/javascript" src="/vue-router.js"></script>
    <script type="application/javascript" src="/api-jquery.js"></script>
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <title>Free Will as a Service</title>
  </head>
  <body>
    <div id="app">
      <div id="header">
        <div id="header-inner">
          <h1> <a href="/"><em>freewill.ai</em></a> </h1>
          <user-info :user="user"></user-info>
        </div>
      </div>
      <table v-if="user">
        <tr>
          <td><choices-list :choices="choices"> </choices-list></td>
          <td><router-view :choice="choice"> </router-view></td>
        </tr>
      </table>
      <div id="login" v-else> <login-dialog> </login-dialog> </div>
      <errors :errors="errors"> </errors>
      <a href="https://github.com/sordina/freewill.it">
        <img style="position: absolute; bottom: 0; left: 0; border: 0;" src="/images/fork.png" />
      </a>
    </div>

    <script type="text/x-template" id="login-dialog">
      <form @submit="login">
        <table>
          <tr> <td> <h3> LOGIN </h3> </td> </tr>
          <tr> <td><input v-model="username" placeholder="Email" /> </td> </tr>
          <tr> <td><input type="password" v-model="password" placeholder="Password" /> </td> </tr>
          <tr> <td>
            <input @click="login" type="submit" value="Login!" /> <br />
            <input @click="register" type="submit" value="Register with these credentials!" />
          </td> </tr>
        </table>
      </form>
    </script>

    <script type="text/x-template" id="choices-list">
      <div>
        <h2>My Choices</h2>
        <ul>
          <choice-item v-for="choice in myChoices" :data="choice" :key="choice.choiceId" :choice="choice"></choice-item>
          <li>
            <input placeholder="New Choice..."
                   @keyup.enter="newChoice" /> </li>
        </ul>
        <h2>Community</h2>
        <ul>
          <choice-item v-for="choice in otherChoices" :data="choice" :key="choice.choiceId" :choice="choice"></choice-item>
        </ul>
      </div>
    </script>

    <script type="text/x-template" id="choice-item">
      <li><router-link :to="'/choices/' + choice.choiceId">{{choice.choiceName}}</router-link></li>
    </script>

    <script type="text/x-template" id="choice-info">
      <div>
        <h2>{{choice.choiceName}}</h2>
        <h3 v-if="ownedbyme">Shared: <input type="checkbox" id="checkbox" v-model="shared" /></h3>
        <div v-if="decision">
          <h3>Options</h3>
          <ul>
            <li v-for="option in revOptions">{{option.optionName}}</li>
          </ul>
          <h3>Decision</h3>
          <p>{{decision.decision.optionName}}</p> </div>

        <div v-else-if="ownedbyme">
          <h3>Options <em class="small">(Click to Choose)</em></h3>
          <ul>
            <option-item v-for="option in revOptions" :option="option"></option-item>
            <li>
              <input placeholder="New Option..."
                     v-model="optionName"
                     @keyup.enter="newOption" /> </li> </ul> </div>

        <div v-else>
          <h3>Options</h3>
          <ul>
            <li v-for="option in revOptions">{{option.optionName}} </li> </ul> </div>
      </div>
    </script>

    <script type="text/x-template" id="option-item">
      <li @click="clickOption"> <strong class="link">{{option.optionName}}</strong> </li>
    </script>

    <script type="text/x-template" id="router">
      <choice-info v-if="choice" :choice="choice.theChoice" :options="choice.theOptions" :decision="choice.theDecision"></choice-info>
      <p v-else><em>Loading Choice...</em></p>
    </script>

    <script type="text/x-template" id="user-info">
      <div class="user-info" v-if="user" >
        <p> {{user.email}} </p>
        <p @click="logout" class="link"> <strong> Logout </strong> </p>
      </div>
    </script>

    <script type="text/x-template" id="errors">
      <div class="errors">
        <ul>
          <li v-for="error in errors" class="error"> {{ error }} </li>
        </ul>
        <p @click="removeAllErrors" v-if="errors[0]" class="link"> <strong> Clear Errors... </strong> </p>
      </div>
    </script>

    <script type="application/javascript" src="./app.js"></script>
  </body>
</html>
