<!DOCTYPE HTML>
<html>
  <head>
    <script type="application/javascript" src="./vue.js"></script>
    <script type="application/javascript" src="http://localhost:8080/vanilla.js"></script>
    <link rel="stylesheet" href="./styles.css" type="text/css" />
  </head>
  <body>

    <div id="app">
      <table>
        <tr>
          <td><choices-list :choices="choices"></choices-list></td>
          <td>
            <choice-info v-if="choice"
                         :choice="choice.theChoice"
                         :options="choice.theOptions"
                         :decision="choice.theDecision"></choice-info>
          </td>
        </tr>
      </table>
    </div>

    <script type="text/x-template" id="choices-list">
      <div>
        <h2>Choices</h2>
        <ul>
          <choice-item v-for="choice in revChoices" :choice="choice"></choice-item>
          <li>
            <input placeholder="New Choice..."
                   v-model="choiceName"
                   @keyup.enter="newChoice" /> </li>
        </ul>
      </div>
    </script>

    <script type="text/x-template" id="choice-item">
      <li @click="clickChoice"> <strong>{{choice.choiceName}}</strong> </li>
    </script>

    <script type="text/x-template" id="choice-info">
      <div>
        <h2>{{choice.choiceName}}</h2>
        <h3>Options</h3>
        <ul>
          <option-item v-for="option in revOptions" :option="option"></option-item>
          <li>
            <input placeholder="New Option..."
                   v-model="optionName"
                   @keyup.enter="newOption" /> </li>
        </ul>
        <h3>Decision</h3>
        <p v-if="decision">{{decision.decision.optionName}}</p>
      </div>
    </script>

    <script type="text/x-template" id="option-item">
      <li @click="clickOption"> <strong>{{option.optionName}}</strong> </li>
    </script>

    <script type="application/javascript" src="./app.js"></script>
  </body>
</html>
